body{
    background-color:rgb(62, 62, 62);
    color: turquoise;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 8em;
    margin-left: 8em;
    position: sticky;
    top: 0;
    background-color: rgb(62, 62, 62);
    color: turquoise;
}
/* > edits the content inside the id, styling the id only styles the div */
#Tabs > a {
    color:aliceblue;
    text-decoration: none;
    border-bottom: 3px solid rgb(227, 240, 251);
    transition: all 0.3s ease;
    padding: 5px;
}

#Tabs > a:hover {
    font-size: large;
    color:rgb(0, 234, 255);

}

#intro {
    color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro > img {
    border-radius: 50%;
    width: 420px;
    height: 385px;
    object-fit: cover;
    margin-bottom: 20px;
}
.try {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

#intro > a {
    color:turquoise;
    font-size: 30px;
}

.intro-links > a {
    text-decoration: none;
    color: rgb(107, 128, 126);
    font-size: 40px;
    transition: 0.3s ease;
}

.intro-links > a:hover {
    text-decoration: none;
    color:  rgb(0, 170, 153);
    font-size: 50px;
}
.intro-links {
    height: 100px;
}

.download-links {
    margin-top: 10px;
    padding: 5px;
 
}

.download-button {
    text-decoration: none;
    color: turquoise;
    border: 2px solid turquoise;
    padding: 7px;
    margin: 5px;
    border-radius: 8px;
    transition: 0.3s ease-out;
}

.download-button:hover {
    background-color: turquoise;
    color: rgb(255, 255, 255);
    font-weight: bold;
}