body{
    background-color:rgb(62, 62, 62);
    color: turquoise;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 8em;
    margin-left: 8em;
    position: sticky;
    top: 0;
    background-color: rgb(62, 62, 62);
    color: turquoise;
}
/* > edits the content inside the id, styling the id only styles the div */
#Tabs > a {
    color:aliceblue;
    text-decoration: none;
    border-bottom: 3px solid rgb(227, 240, 251);
    transition: all 0.3s ease;
    padding: 5px;
}

#Tabs > a:hover {
    font-size: large;
    color:rgb(0, 234, 255);

}

#intro {
    color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro > img {
    border-radius: 50%;
    width: 420px;
    height: 385px;
    object-fit: cover;
    margin-bottom: 20px;
}
.try {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

#intro > a {
    color:turquoise;
    font-size: 30px;
}

.intro-links > a {
    text-decoration: none;
    color: rgb(107, 128, 126);
    font-size: 40px;
    transition: 0.3s ease;
}

.intro-links > a:hover {
    text-decoration: none;
    color:  rgb(0, 170, 153);
    font-size: 50px;
}
.intro-links {
    height: 100px;
}

.download-links {
    margin-top: 10px;
    padding: 5px;
 
}

.download-button {
    text-decoration: none;
    color: turquoise;
    border: 2px solid turquoise;
    padding: 7px;
    margin: 5px;
    border-radius: 8px;
    transition: 0.3s ease-out;
}

.download-button:hover {
    background-color: turquoise;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

article{
    padding: 15px;
}

article > p {
    margin: 0 0 1rem 0;
}

header{
    margin: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

header h1 {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    border-bottom: 4px solid orange;
    border-radius: 1px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 8em;

}

.project-card{
    display: flex;
    width: 50em;
    height: 25em;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.screenshot > img{
    width: 550px;
    height: auto;
    border-radius: 8px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.6);

}

.description > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.description > a:hover{
    font-size: large;
    text-decoration: underline;

}

.description > h2{
    border-left: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.description > p{
    margin-bottom: 20px;
}

.description{
    margin-left: 2em;
}

.experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-card{
    width: 44em;
    display: flex;
    border-left: 5px solid orange;
    border-radius: 4px;
    padding: 7px;
    justify-content: space-between;
    margin-bottom: 30px;


}

.experience-card > p{
    color: gray;
}

.role-time{
    width: 18em;
    margin-right: 20px; 
}
.company-location{
    width: 18em;
    margin-right: 20px;
}

#languages{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.languages{
    display: flex;
    width: 60em;
    justify-content: space-between;
}

.language-icons > p{
    font-weight: 700;
    font-size: x-large;
    align-items: center;
    justify-content: center;
}

.language-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.language-icon > p > i{
    font-size: 80px;
}

